:root {
  --primery-black-color: #212121;
  --primery-white-color: #ffffff;
  --secondary-text-color: #757575;
  --accent-blue-color: #2196f3;
  --accent-black-color: #000000;
  --secondary-black-color: #2f303a;
  --transparency-white-color: #ffffff99;
  --hover-blue-color: #188ce8;
  --header-line-color: #ececec;
  --secondary-white-color: #f5f4fa;
  --border-line-color: #eeeeee;
}

/*========== Загальні стилі =========== */

/* * {
  box-sizing: border-box;
} */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  background-color: var(--primery-white-color);
  color: var(--primery-black-color);

  font-family: 'roboto', sans-serif;
}

ul {
  list-style: none;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hidden-title {
  display: none;
}
/*========== Загальні стилі =========== */

/*========== Верхня лінія / Футер ========== */
.header {
  display: flex;
}

.nav-container {
  align-items: center;
}

.logo {
  color: var(--accent-black-color);
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-blue {
  color: var(--accent-blue-color);
}

.menu-nav .link {
  color: var(--primery-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu-nav .link.current {
  color: var(--accent-blue-color);
}

.menu .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

.footer {
  background-color: var(--secondary-black-color);
}

.footer .logo {
  color: var(--primery-white-color);
}

.link:hover,
.link:focus {
  color: var(--accent-blue-color);
  text-decoration: none;
}

.link-map {
  color: var(--primery-white-color);

  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}

.link-map:hover,
.link-map:focus {
  color: var(--accent-blue-color);
}

.address-link {
  color: var(--primery-white-color);

  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-blue-color);
}
/*========== Верхня лінія / Футер ========== */

/*= = = = = CSS index.html = = = = = */

/* =========== Герой ========== */
.hero {
  background-color: var(--secondary-black-color);
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  width: 216px;
  height: 50px;
  display: flex;
  align-items: center;

  color: var(--primery-white-color);
  background-color: var(--accent-blue-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-blue-color);
}
/* =========== Герой ========== */

/*= = = = = CSS index.html = = = = = */

/*========== Особливості =========== */
.features {
  padding-bottom: 94px;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.features-post {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.post {
  color: var(--secondary-text-color);
}

/*========== Особливості =========== */

/*========== Чим ми займаємось ========== */
.images {
  border-top: 0;
}

.images-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/*========== Чим ми займаємось ========== */

/*========== Наша команда ========== */
.team {
  background-color: var(--secondary-white-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.card {
  background-color: var(--primery-white-color);
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.card-post {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*========== Наша команда ========== */

/*= = = = = CSS portfolio.html = = = = = */

/* ========== Портфоліо ========== */

.project {
  background-color: var(--primery-white-color);
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-post {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* ========== Портфоліо ========== */

/* ========== Фільтри ========== */

.filter-button {
  background-color: var(--secondary-white-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-blue-color);
  color: var(--primery-white-color);
}

/* ========== Фільтри ========== */

/*= = = = = CSS portfolio.html = = = = = */
